{% extends 'admin_dashboard/admin_base.html' %}
{% load custom_filters %}

{% block content %}
<h1>Add Retreat Offering</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- Title Field -->
    <div class="mb-3">
        <label for="{{ form.title.id_for_label }}" class="form-label">Title:</label>
        {{ form.title|add_class:"form-control" }}
    </div>
    
    <!-- Description Field -->
    <div class="mb-3">
        <label for="{{ form.description.id_for_label }}" class="form-label">Description:</label>
        <div class="form-control" id="{{ form.description.id_for_label }}">
            {{ form.description.value|linebreaks }}
        </div>
    </div>
    
    <!-- Start Date Field with Date Picker -->
    <div class="mb-3">
        <label for="{{ form.date.id_for_label }}" class="form-label">Start Date:</label>
        {{ form.date|add_class:"form-control" }}
    </div>
    
    <!-- End Date Field with Date Picker -->
    <div class="mb-3">
        <label for="{{ form.end_date.id_for_label }}" class="form-label">End Date:</label>
        {{ form.end_date|add_class:"form-control" }}
    </div>
    
    <!-- Location Field -->
    <div class="mb-3">
        <label for="{{ form.location.id_for_label }}" class="form-label">Location:</label>
        {{ form.location|add_class:"form-control" }}
    </div>
    
    <!-- Image Upload Field -->
    <div class="mb-3">
        <label for="{{ form.image.id_for_label }}" class="form-label">Image:</label>
        {{ form.image|add_class:"form-control" }}
    </div>
    
    <!-- Registration Link Field -->
    <div class="mb-3">
        <label for="{{ form.registration_link.id_for_label }}" class="form-label">Registration Link:</label>
        {{ form.registration_link|add_class:"form-control" }}
    </div>
    
    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}
