{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    .modal-footer-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;  /* Adjust spacing */
    padding-bottom: 20px;  /* Ensures it stays at the bottom */
}

.contemplative-btn {
    font-size: 1.2rem;
    padding: 12px 24px;
    background-color: #b49f6bd5; /* Muted Gold */
    color: white;
    border-radius: 8px;
    text-decoration: none;
    border: none;
    transition: background 0.3s ease-in-out, transform 0.2s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.contemplative-btn:hover {
    background-color: #C4A484; /* Warmer Gold */
    transform: scale(1.05);
}


</style>

<div class="d-flex flex-column" style="height: 100vh;">
    <img src="{% static 'MEPKING/oak-allee4.jpeg' %}" class="img-fluid" style="height: 60%; object-fit: cover;" alt="View of Oak Allee at Mepkin Abbey">
    <div class="text-center">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success my-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Get Started!
        </button>
        <h3 class="mx-3">We share our spiritual journey and contemplative life, sacred and serene,</h3>
        <h3>with all seekers...</h3>
        <img src="{% static 'MEPKING/logo.png' %}" class="img-fluid mx-auto d-block mt-3" style="max-width: 12rem;" alt="Mepkin Abbey Logo">
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content" style="background-image: url('{% static 'MEPKING/get started 2.png' %}'); background-size: cover;">
            <div class="modal-body text-center text-white">
                <h1 class="my-5">Are you currently on site visiting Mepkin?</h1>
                <div class="my-5">
                    If YES, <a href="{% url 'virtual-tour' %}" class="btn btn-secondary">Click Here</a> to join us on a self-guided tour of the grounds.
                </div>
                <div class="my-5">
                    If NO, <a href="{% url 'home' %}" class="btn btn-secondary">Click Here</a> to find out general information about Mepkin.
                </div>
            </div>
            <div class="modal-footer-custom">
                <a href="{% url 'calling' %}" class="btn btn-primary contemplative-btn">
                    Is the Contemplative Life calling you?
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
