{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="bg-secondary text-white sticky-top">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-2">
            <h1>
                <span class="me-4">
                    <a href="{% url 'pray-with-us' %}" class="text-decoration-none text-white">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                </span>
                Prayer for Monastic Vocations
            </h1>
            <img src="{% static 'MEPKING/logo.png' %}" height="75rem" alt="">
        </div>
    </div>
</div>

<div class="container mt-3">


    <!-- Audio player with spacing -->
    <div class="d-flex justify-content-center align-items-center gap-1 mb-3">
        <h5 class="fw-bold">Listen to Prayer for Monastic Vocations Audio:</h5>
        <audio controls>
            <source src="{% static 'audio/Prayer for Monastic Vocation.mp3' %}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>

    <p class="text-center">

        <i>(Please join us in prayer for monastic vocations.)</i><br>
<br>
        Gracious and Loving God<br>
        In every generation you call men and women<br>
        To leave everything<br>
<br>
        Following Christ into the desert<br>
        Being of one heart and one mind in peace, humility, and simplicity<br>
<br>
        We come before you now asking for the grace<br>
        To be faithful to our vocation<br>
        Striving to live in the communion of Love which surpasses all other gifts<br>
<br>
        May men and women of our time<br>
        Hear the call to live the Gospel in the monastic way<br>
        In service of the Church’s mission<br>
        By constantly seeking your face in prayer, work, and community life<br>
<br>
        Remember our Cistercian communities<br>
        Those aging and those newly born<br>
        Throughout the world, north and south, east and west<br>
<br>
        As you have done from the days of our founders<br>
        Bless us once again<br>
        May our brotherhood at Mepkin grow in numbers, in grace, and in wisdom<br>
        So that we might continue to live for your glory with greater vigor<br>
        And with joy never ending. Amen.<br>
    </p>
</div>
<br>
<br>
<br>
{% include 'navbar.html' %}
{% endblock %}
