<style>
    /* Define the default styles for the link */
    .custom-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #000; /* Set the default text color */
    }

    /* Define the hover effect */
    .custom-link:hover {
        color: #007bff; /* Set the text color to blue on hover */
    }

</style>

<nav class="navbar fixed-bottom bg-white" style="z-index: 10000;">
    <div class="container-fluid d-flex justify-content-around align-items-center">
        <a href="{% url 'home' %}"
           class="custom-link">
            <i class="fa-solid fa-house"></i>
            <span>HOME</span>
        </a>
        <a href="{% url 'pray' %}"
           class="custom-link">
            <i class="fa-solid fa-hands-praying"></i>
            <span>PRAY</span>
        </a>
        <a href="{% url 'support' %}"
           class="custom-link">
            <i class="fa-solid fa-heart"></i>
            <span>SUPPORT</span>
        </a>
        <a href="https://mepkinabbey.org/"
           class="custom-link" target="_blank">
            <i class="fa-solid fa-globe"></i>
            <span>WEBSITE</span>
        </a>
        <a href="{% url 'connect' %}"
           class="custom-link">
            <i class="fa-solid fa-message"></i>
            <span>CONNECT</span>
        </a>
    </div>
</nav>