{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="bg-secondary text-white sticky-top">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-2">
            <h1>
                <span class="me-4">
                    <a href="{% url 'the-brothers' %}" class="text-decoration-none text-white">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                </span>
                Our Daily Life
            </h1>
            <img src="{% static 'MEPKING/logo.png' %}" height="75rem" alt="">
        </div>
    </div>
</div>

<div class="container mt-3">

    <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col">
            <a href="https://mepkinabbey.org/our-daily-life/" target="_blank" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'MEPKING/Horarium Daily Schedule.jpeg' %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2" style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Horarium: Daily Schedule
                        </h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="https://ibreviary.com/m/breviario.php" target="_blank" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'MEPKING/Liturgy of the hours.jpeg' %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2" style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Liturgy of the Hours
                        </h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="https://mepkinabbey.org/work/" target="_blank" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'MEPKING/Our work.jpeg' %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2" style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Our Work
                        </h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<br>
<br>
<br>
{% include 'navbar.html' %}
{% endblock %}