{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="bg-secondary text-white sticky-top">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-2">
            <h1>
                <span class="me-4">
                    <a href="{% url 'connect' %}" class="text-decoration-none text-white">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                </span>
                Resources
            </h1>
            <img src="{% static 'MEPKING/logo.png' %}" height="75rem" alt="">
        </div>
    </div>
</div>

<div class="container mt-3">

    <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col">
            <a href="https://www.trappists.org/" target="_blank" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'MEPKING/trapists.svg' %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2"
                            style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Visit Trappists.org
                        </h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="https://ocso.org/" target="_blank" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'MEPKING/ocso.jpg' %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2"
                            style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Visit OCSO.org
                        </h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="https://www.facebook.com/USA.Trappist" target="_blank" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'MEPKING/trapists USA.jpg' %}"
                         class="card-img rounded-3" alt="..." style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2"
                            style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Visit Trappist USA in Facebook
                        </h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<br>
<br>
<br>
{% include 'navbar.html' %}
{% endblock %}
