{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="bg-secondary text-white sticky-top">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-2">
            <h1>
                <span class="me-4">
                    <a href="{% url 'home' %}" class="text-decoration-none text-white">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                </span>
                Support Us
            </h1>
            <img src="{% static 'MEPKING/logo.png' %}" height="75rem" alt="Mepkin Abbey Logo">
        </div>
    </div>
</div>

<div class="container mt-3">
    <p>At Mepkin Abbey, we rely on the generosity and support of individuals like you to continue our mission of providing spiritual guidance, fostering community, and maintaining our serene environment. Here’s how you can help:</p>

    <div class="row row-cols-1 row-cols-md-2 g-3">
        <div class="col">
            <a href="https://mepkinabbey.org/volunteer-opportunities/" target="_blank" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'MEPKING/9.jpeg' %}" class="card-img rounded-3" alt="Volunteer at Mepkin Abbey" style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2" style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Volunteer
                        </h6>
                    </div>
                </div>
            </a>
            <p class="mt-2">Join us as a volunteer and make a meaningful impact. Whether you can spare a few hours or commit to regular assistance, your help is invaluable. <a href="https://mepkinabbey.org/volunteer-opportunities/" target="_blank" class="text-decoration-none">Learn more</a> about our volunteer opportunities.</p>
        </div>

        <div class="col">
            <a href="https://mepkinabbey.org/donate/" target="_blank" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'MEPKING/8.jpeg' %}" class="card-img rounded-3" alt="Donate to Mepkin Abbey" style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2" style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Donate
                        </h6>
                    </div>
                </div>
            </a>
            <p class="mt-2">Your donations help us maintain our grounds, support our community, and extend our reach. Every contribution, big or small, makes a difference. <a href="https://mepkinabbey.org/donate/" target="_blank" class="text-decoration-none">Donate now</a> and support our mission.</p>
        </div>
    </div>
</div>
<br>
<br>
<br>
{% include 'navbar.html' %}
{% endblock %}
