{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="bg-secondary text-white sticky-top">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-2">
            <h1>
                <span class="me-4">
                    <a href="{% url 'home' %}" class="text-decoration-none text-white">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                </span>
                The Gardens
            </h1>
            <img src="{% static 'MEPKING/logo.png' %}" height="75rem" alt="Mepkin Abbey Logo">
        </div>
    </div>
</div>

<div class="container mt-3">
    <p>
        Situated along the Cooper River, Mepkin Abbey's gardens are home to a variety of plants and flowers, offering both spiritual and historical significance. Explore the serene landscapes and discover the beauty and tranquility that our gardens provide.
    </p>
    <div class="row row-cols-1 row-cols-md-2 g-3">
        <div class="col">
            <a href="https://mepkinabbey.org/gardens-scenery/" target="_blank" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'MEPKING/g4.png' %}" class="card-img rounded-3" alt="The Gardens and Scenery at Mepkin Abbey" style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2" style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            The Gardens & Scenery
                        </h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="https://mepkinabbey.org/gardens-scenery/" target="_blank" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'MEPKING/carving05-705x529.jpg' %}" class="card-img rounded-3" alt="Meditation Garden of Truth and Reconciliation at Mepkin Abbey" style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2" style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Meditation Garden of Truth & Reconciliation
                        </h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<br>
<br>
<br>
{% include 'navbar.html' %}
{% endblock %}
