{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="bg-secondary text-white sticky-top">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-2">
            <h1>
                <span class="me-4">
                    <a href="{% url 'home' %}" class="text-decoration-none text-white">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                </span>
                The Brothers
            </h1>
            <img src="{% static 'MEPKING/logo.png' %}" height="75rem" alt="Mepkin Abbey Logo">
        </div>
    </div>
</div>

<div class="container mt-3">
    <p>
        Mepkin Abbey is a community of Roman Catholic monks belonging to the worldwide Order of Cistercians of the
        Strict Observance, popularly known as Trappist. Our life is centered on prayer, work, and contemplation, providing a spiritual oasis for all seekers.
    </p>

    <div class="row row-cols-1 row-cols-md-2 g-3">
        <div class="col">
            <a href="{% url 'who-we-are' %}" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'MEPKING/The Brothers.jpg' %}" class="card-img rounded-3" alt="Who We Are at Mepkin Abbey" style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2" style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Who We Are
                        </h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="{% url 'our-daily-life' %}" class="text-decoration-none">
                <div class="card border-0">
                    <img src="{% static 'MEPKING/daily-life.png' %}" class="card-img rounded-3" alt="Our Daily Life at Mepkin Abbey" style="height: 15rem; object-fit: cover;">
                    <div class="card-img-overlay">
                        <h6 class="card-text fw-bold position-absolute bottom-0 mb-2 p-2" style="color: #fff; background-color: rgba(0, 0, 0, 0.6)">
                            Our Daily Life
                        </h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<br>
<br>
<br>
{% include 'navbar.html' %}
{% endblock %}
